*{
	padding: 0;
	margin: 0;
	
	text-align: center;
}

html,body{
	background-color: #A1FCDF;
}
@keyframes animation_test{
	from{
	background-color: #C2E812;
	}
	to{
		background-color: #FAA613;
	}
}
.main-container{
	border: 8px solid #00D9C0;
	border-radius: 10px;
	margin: 2rem;/*Unidad que se ocupa en CSS, puede ser por porcentaje em,rem pero no es escalable(redimencionar) para en etiquetas en especifico*/
	background-color: #F4A259;
	animation-name: animation_test;
	animation-duration: 2s;
	animation-duration: alternate;
	animation-iteration-count: infinite;

}

nav, section, footer, article, aside{
	border: 2px solid #D3FAC7;
	margin: 1rem;
	border-radius: 10px;
	padding: 1rem;
}

article{

	width: 40%;
	display: inline-block;
	height: 350px;
	
	
	background-size: 600px 450px;
	
}
aside{

	width: 30%;
	display: inline-block;
	height: 350px;
	
	
	background-size: 200px 450px;
	
}

nav, section, footer{
	background-color: #85C7F2;
}
